@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-Heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-HeavyItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-RegularItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url('assets/fonts/SFProText-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

:root {
  --header-margin: 120px;
}

html {
  font-size: 16px;
	font-weight: 300;
  overflow-x: hidden;
}

html.hidden {
  overflow-y: hidden;
}

body {
  font-family: "SF Pro Text";
  overflow-x: hidden;
}

body.preload *{
  animation-duration: 0s !important;
}



body * {
  box-sizing: border-box;
}

.h1 {
  margin: 0;
}

.link {
  text-decoration: 0;
}

img {
  max-width: 100%;
}

.btn {
  background-color: #FFBB00;
  display: inline-block;
  position: relative;
  border: 0;
  font-size: 1.95em;
  border-radius: 40px;
  outline: 0;
	font-weight: 400;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  text-decoration: 0;
  transition: all .25s ease;
  padding: 18px 41px;
  color: #1F1F20
}

.container {
  max-width: 1600px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.row {
  display: block;
}

.svg-objects {
  display: none;
}

.beget-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  font-size: 1em;
  color: #1F1F20;
}

.s-main {
  padding-top: 9.7vh;
  padding-right: 100px;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  color: #F8F8F8;
  position: relative;
}

.s-main__background {
  background-image: url(assets/img/bg/bg-main.svg);
  background-position: 0 0;
  pointer-events: none;
  background-size: auto 100%;
  z-index: 10;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.s-main__container {
  display: flex;
}

.right-line {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 104;
  background-color: #1F1F20;
}

.right-line .hamburger {
  margin: auto;
}

.right-line .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  border-radius: 0;
  height: 3px;
}

.right-line .hamburger.hamburger--arrow.is-active .hamburger-inner::before, .right-line .hamburger.hamburger--arrow.is-active .hamburger-inner::after {
  width: 40px;
}

.right-line .hamburger.hamburger--arrow.is-active .hamburger-inner::before {
  top: -10px;
}

.hamburger.hamburger--arrow.is-active .hamburger-inner::after {
  top: 10px;
}

.hamburger-inner::before {
  top: -15px;
}

.hamburger-inner::after {
  bottom: -15px;
}

.right-line .hamburger.hamburger--arrow .hamburger-inner::before, .right-line .hamburger.hamburger--arrow .hamburger-inner::after {
  width: 25px;
  right: 0;
}

.right-line .hamburger .hamburger-inner, .right-line .hamburger .hamburger-inner::before, .right-line .hamburger .hamburger-inner::after {
  background-color: #f8f8f8;
}

.menu-wrapper {
  position: fixed;
  z-index: 150;
  left: 100%;
  display: flex;
  align-items: center;
  top: 0;
  height: 100vh;
  background-color: #1F1F20;
  padding: 40px 40px;
  transition: transform .15s ease-in-out;
  transform: translateX(0%);
}

@keyframes overlay {
  from {
    opacity: 0;
  } to {
    opacity: 0.3;
  }
}

.overlay {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 104;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

.menu-wrapper.active {
  transform: translateX(-100%);
}

.overlay.active {
  opacity: 0.3;
  display: block;
  animation: overlay .15s ease;
}

.menu-wrapper__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.close-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 104;
  background-image: url(assets/img/exit/close.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-wrapper__item {
  margin-bottom: 20px;
  font-size: 1.9em;
}

.menu-wrapper__item:last-child {
  margin-bottom: 0px;
}

.menu-wrapper__item .link {
  color: #f8f8f8;
  white-space: nowrap;
  transition: color .15s ease;
}

.menu-wrapper__item .link:hover {
  color: #FFBB00;
}

.social-icon .social__path {
  transition: fill .15s ease;
}

.social-icon:hover .social__path {
  fill: #fff;
}

.s-main__col {
  position: relative;
}

.s-main__col--left {
  width: 75%;
  z-index: 10;
}

.s-main__col--right {
  width: 25%;
  z-index: 9;
}

.s-main__socials-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 15px;
  position: absolute;
  z-index: 102;
  position: relative;
  top: 0;
  right: 0;
}

.s-main__socials-link {
  font-size: 1.4em;
  color: #1F1F20;
}

.s-main__socials-img {
  width: 100%;
  height: 100%;
}

.s-main__socials {
  order: 0;
  transform: translateX(calc(var(--header-margin) / 2));
}

.header-main {
  position: fixed;
  z-index: 103;
  left: 0;
  top: 0;
  right: var(--header-margin);
  padding-top: 35px;
  padding-bottom: 10px;
}

.header-main::before {
  content: "";
  display: none;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(31, 31, 31, 0) 0%, #1F1F20 10%);
}

.header-main.active::before {
  display: block;
}

.header-main__container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.s-main__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.95em;
  line-height: 98.69%;
  letter-spacing: 0.005em;
  display: inline-block;
  max-width: 220px;
}

.s-main__item {
  position: relative;
  margin-bottom: 21px;
}

.s-main__item:last-child {
  margin-bottom: 0;
}

.s-main__item .link {
  display: block;
}

.s-main__item .link::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: calc(100% + 62px);
  transform: translateX(0px) translateY(-50%);
  transition: transform .15s ease;
  height: 19.7px;
  width: 39px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/img/arrows/arr-white.svg);
}

.s-main__item .link:hover::after {
  left: calc(100% + 62px);
  transform: translateX(100px) translateY(-50%);
}

.s-main__btn {
  margin-top: 8.88vh;
}

.s-main__textarea {
  resize: vertical;
}

.btn:hover {
  background-color: #D89E00;
}

.s-main__list .link {
  color: #F8F8F8;
}

.s-main__h1 {
  font-size: 6.0625em;
  margin-bottom: 7.68vh;
  color: #f8f8f8;
  font-style: italic;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  max-width: 720px;
}

.s-main__slider-btn, .s-reviews__slider-btn {
    background-color: transparent;
    display: block;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    transition: all .15s ease;
    margin: 0 auto;
  }

.s-main__slider-btn--left {
  left: 0;
}

.s-main__slider-btn--right {
  right: 0;
}

.s-main__slider .slick-list::before {
    content: "";
    position: absolute;
    display: block;
    pointer-events: none;
    z-index: 10;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #FFFFFF 76.86%);
  }

  .s-main__slider .slick-list::after {
    content: "";
    position: absolute;
    display: block;
    pointer-events: none;
    z-index: 10;
    bottom: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 76.86%);
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  } to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  } to {
    opacity: 0;
    visibility: hidden;
  }
}

[data-section] {
  animation: fadeOut .25s ease forwards;
}

[data-section].active {
  animation: fadeIn .25s ease forwards;
}

.s .link {
  color: #f8f8f8;
  text-decoration: underline;
}

.s-nav {
  animation: fadeOut .15s ease forwards;
}
.s-nav.active {
  animation: fadeIn .15s ease forwards;
}


.s-nav__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 10px;
}

.s-nav__item .s-nav__link {
  color: #FFBB00;
  font-size: .9em;
	font-weight: 500;
  transition: color .15s ease;
  text-decoration: none;
}

.s-nav__item .s-nav__link:hover, .s-nav__item.active .s-nav__link {
  color: #F8F8F8;
}

.s-nav__item.active .s-nav__link {
  text-decoration: underline;
}

.s-nav__container {
  order: 1;
  margin-right: auto;
  transform: translateX(calc(var(--header-margin) / 2));
}

.s--modal {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1F1F20;
}

.s {
  padding: var(--header-height) 0 85px;
  color: #f8f8f8;
}

.s h2, .s h3 {
  text-transform: uppercase;
}

.s h2 {
  font-size: 4.5em;
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
}

.s h3 {
  margin: 0;
  margin-top: 20px;
  font-size: 1.75em;
  margin-bottom: 3px;
  font-weight: 600;
}

.s p {
  margin: 0;
  margin-bottom: 16px;
  text-align: justify;
}

.s p {
  font-size: 1.25em;
}

.s ul, .s ol {
  font-size: 1.25em;
}

.s .p--mbn {
  margin-bottom: 0;
}

.s .p--mbn + ul {
  margin-top: 5px;
}

.s__btn {
  margin-top: 40px;
}

.s-about__img {
  max-width: 500px;
  width: 100%;
}

.s-about__col--left {
  width: 70%;
}

.s-about__col--right {
  width: 30%;
}

.s-about__container {
  display: flex;
  column-gap: 40px;
}

.s-reviews__slider {
  max-width: 600px;
  margin: auto;
  font-family: serif;
}

.s-reviews__slide-author {
  border-radius: 10em;
  max-width: 100px;
}

.s-reviews__slide-name {
  opacity: 0.5;
}

.s-reviews__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

.s-reviews__slider-btn--left {
    left: -70px;
  }

.s-reviews__slider-btn--right {
    right: -70px;
  }

.s-reviews__slide-quotes {
  position: relative;
}

.s-reviews__slider::before, .s-reviews__slider::after {
  content: '"';
  font-family: "Catamaran";
  display: block;
  position: absolute;
  z-index: -1;
  font-size: 15em;
  color: #FFBB00;
  opacity: .5;
  font-weight: bold;
  line-height: 0;
}

.s-reviews__slider::before {
  top: 170px;
  left: 0;
  transform: translateX(-50%);
}

.s-reviews__slider::after {
  bottom: -40px;
  right: 0;
  transform: translateX(50%);
}

.s-services__table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

.s-services__btn {
  margin-top: 50px;
}

.s-services__td, .s-services__th {
  border-bottom: 1px solid #F8F8F8;
  font-size: 2em;
  font-weight: bold;
  padding: 25px;
}

.s-services__td:last-child {
  text-align: right;
  color: #FFBB00;
  white-space: nowrap;
}

.s--modal {
  overflow-x: auto;
}

.s-faq__accordion-title {
  --arrow-width: 40px;
  position: relative;
  padding-right: calc(var(--arrow-width) + 5px);
}

.s-faq__accordion-title::after {
  content: "";
  width: var(--arrow-width);
  height: var(--arrow-width);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/img/arrows/arr-ac.svg);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: transform .3s ease;
}

.s-faq__accordion-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.accordion-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 30%);
  padding: 0 .5em .7em;
  margin-bottom: 1.5em;
}

.accordion-item.active .s-faq__accordion-title::after {
  transform: translateY(-50%) rotate(180deg);
}

.s-faq__list {
  list-style-type:decimal;
}

.s-faq .s-faq__accordion-answer {
  display: none;
  margin: 0;
  opacity: 0.8;
  margin-top: 10px;
}

.s-contacts p {
  text-align: left;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 14px;
  }

  .s-main__socials {
    transform: translateX(0);
  }

  .s-nav__container {
    transform: translateX(0);
  }

	:root {
    --header-margin: 80px;
  }

  .beget-link {
    color: #f8f8f8;
  }

  .s-nav {
    font-size: 14px;
  }

  .right-line .hamburger .hamburger-inner, .right-line .hamburger .hamburger-inner::before, .right-line .hamburger .hamburger-inner::after {
    background-color: #f8f8f8;
  }

  .s-main__background {
    background-size: auto 155%;
  }

  .container {
    max-width: 1000px;
  }

  .s-main__slider .slick-list::before {
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #1F1F20 76.86%);
  }

  .s-main__slider .slick-list::after {
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0) 0%, #1F1F20 76.86%);
  }

  .s-main__col--right {
    z-index: 10;
  }

  html {
    font-size: 12px;
  }

  .right-line .hamburger {
    padding: 45px 25px;
  }

  .right-line {
    background-color: transparent;
    height: auto;
  }

  .right-line .hamburger {
    margin: 0;
  }

  .s-main {
    padding-top: 110px;
  }
}

/* @media screen and (max-width: 1400px) {
  
} */

@media screen and (max-width: 1200px) {
  html {
    font-size: 11px;
  }

  .s-nav {
    font-size: 13px;
  }

  .container {
    max-width: 900px;
  }
}

@media screen and (max-width: 992px) {
.s-main__background {
    background: none !important;
  }

  body {
    background-color: #1F1F20;
  }

  .beget-link {
    font-size: 1.2em;
  }

  .s-about__col {
    width: 100%;
  }

  .s-about__col--right {
    display: none;
  }

  .s-main__slider-btn, .s-reviews__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .s-main__container {
    flex-wrap: wrap;
  }

  .s-main__col--left {
    width: 100%;
  }

  .s-main__col--right {
    width: 100%;
  }

  .right-line {
    background-image: none;
  }

  .s-main {
    padding-top: 125px;
    padding-bottom: 110px;
  }

  .s-main__btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .s-main__slider-item {
    margin: 0 20px;
  }

  .s-main__slider .slick-list {
    margin: 0 -20px;
  }

  .s-main__socials-link {
    color: #F8F8F8;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .s-main__slider .slick-list::before {
    content: "";
    top: 0;
    z-index: 1;
    left: 0px;
    width: 300px;
    height: 100%;
    background: linear-gradient(to left, rgba(31, 31, 31, 0) 0%, #1F1F20 76.86%);
  }


  .s-main__slider .slick-list::after {
    content: "";
    top: 0;
    left: auto;
    right: -1px;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(31, 31, 31, 0) 0%, #1F1F20 76.86%);
  }
}

@media screen and (min-width: 992px) {
  .s-main__slider-item.slick-slide  {
    border: 3px solid #1F1F20;
  }

  .s-main__slider-item.slick-current {
    transform: scale(1);
    border-style: dashed;
  }

  .s-main__slider-img {
    margin: auto;
    display: block;
  }

  .s-main__slider {
    position: relative;
    z-index: 10;
  }

  .s-main__slider-item {
    max-width: 380px;
    width: 100% !important;
    margin: 0 auto;
    float: none;
    transform: scale(0.8);
    transition: transform .15s ease;
  }
}

@media screen and (max-width: 768px) {
  .s-nav__item .s-nav__link {
    white-space: nowrap;
  }

  .s-nav__list {
    column-gap: 5px;
  }

  .s-main__slider .slick-list::before {
    display: none;
  }

  .s-main__slider .slick-list::after {
    display: none;
  }

  .s-main__h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  .s-main__list {
    text-align: center;
    display: block;
    max-width: none;
  }

  .s-main__item .link::after {
    display: none;
  }

  .s-main__btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .vex {
    font-size: 14px;
  }

  .s-main {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 576px) {
  h3.s-faq__accordion-title {
    --arrow-width: 20px;
    font-size: 1.5em;
  }

  .right-line .hamburger {
    padding-bottom: 10px;
  }

  .header-main::before {
    display: block;
  }

  .s--modal {
    font-size: 11px;
  }

  .s-faq__accordion-answer {
    font-size: 12px;
  }

  .s-services__table {
    font-size: 10px;
  }

  .s-services__td, .s-services__th {
    padding-left: 10px;
    padding-right: 10px;
  }
  .s-main__slider-item {
    margin: 0 10px;
  }

  .header-main {
    right: 0;
  }

  .s-main__slider .slick-list {
    margin: 0 -10px;
  }

  .s {
    padding-top: 120px;
  }

  .s-main__container {
    padding: 0;
  }

  .s-main__socials-list, .s-nav__lists {
    column-gap: 5px;
  }

  :root {
    --header-margin: 80px;
  }

  .header-main__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .s-nav__list {
    margin-top: 10px;
  }
}