html {
  font-size: 16px;
}

body {
  font-family: "Roboto";
}

body * {
  box-sizing: border-box;
}

.h1 {
  margin: 0;
}

.link {
  text-decoration: 0;
}

img {
  max-width: 100%;
}

.btn {
  background-color: #FFBB00;
  display: inline-block;
  position: relative;
  border: 0;
  font-size: 1.95rem;
  border-radius: 40px;
  outline: 0;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  text-decoration: 0;
  transition: all .25s ease;
  padding: 18px 41px;
  color: #1F1F20
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
}

.row {
  display: block;
}

.svg-objects {
  display: none;
}

.s-main {
  background-position: 0 0;
  background-size: 78% auto;
  background-repeat: no-repeat;
  padding-top: 9.7vh;
  padding-right: 100px;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  color: #F8F8F8;
}

.s-main__container {
  display: flex;
}

.right-line {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: 100;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/bg/right-line.png);
}

.right-line .hamburger {
  margin: auto;
  padding-left: 30px;
}

.right-line .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #f8f8f8;
  border-radius: 0;
  height: 3px;
}

.hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  width: 40px;
}

.hamburger.is-active .hamburger-inner::before {
  top: -10px;
}

.hamburger.is-active .hamburger-inner::after {
  top: 10px;
}

.hamburger-inner::before {
  top: -15px;
}

.hamburger-inner::after {
  bottom: -15px;
}

.right-line .hamburger-inner::before, .hamburger-inner::after {
  width: 25px;
  right: 0;
}

.menu-wrapper {
  position: fixed;
  z-index: 150;
  left: 100%;
  display: flex;
  align-items: center;
  top: 0;
  height: 100vh;
  background-color: #1F1F20;
  padding: 40px 40px;
  transition: transform .15s ease-in-out;
  transform: translateX(0%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 0.3;
  }
}

.overlay {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

.menu-wrapper.active {
  transform: translateX(-100%);
}

.overlay.active {
  opacity: 0.3;
  display: block;
  animation: fadeIn .15s ease;
}

.menu-wrapper__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-wrapper__close-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../img/exit/close.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-wrapper__item {
  margin-bottom: 20px;
  font-size: 1.9rem;
}

.menu-wrapper__item:last-child {
  margin-bottom: 0px;
}

.menu-wrapper__item .link {
  color: #fff;
  white-space: nowrap;
  transition: color .15s ease;
}

.menu-wrapper__item .link:hover {
  color: #FFBB00;
}

.social-icon .social__path {
  transition: fill .15s ease;
}

.social-icon:hover .social__path {
  fill: #fff;
}

.s-main__col--left {
  width: 75%;
}

.s-main__col--right {
  width: 25%;
}

.s-main__socials-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 15px;
  position: absolute;
  top: 35px;
  right: 4.4vw;
}

.s-main__socials-item {
  width: 43px;
  height: 43px;
}

.s-main__socials-img {
  width: 100%;
  height: 100%;
}



.s-main__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.95rem;
  line-height: 98.69%;
  letter-spacing: 0.005em;
  display: inline-block;
  max-width: 220px;
}

.s-main__item {
  position: relative;
  margin-bottom: 21px;
}

.s-main__item:last-child {
  margin-bottom: 0;
}

.s-main__item .link {
  display: block;
}

.s-main__item .link::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: calc(100% + 62px);
  transform: translateX(0px) translateY(-50%);
  transition: transform .15s ease;
  height: 19.7px;
  width: 39px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/arrows/arr-white.svg);
}

.s-main__item .link:hover::after {
  left: calc(100% + 62px);
  transform: translateX(100px) translateY(-50%);
}

.s-main__btn {
  margin-top: 8.88vh;
}

.s-main__textarea {
  resize: vertical;
}

.btn:hover {
  background-color: #D89E00;
}

.s-main__list .link {
  color: #F8F8F8;
}

.s-main__h1 {
  font-size: 6.0625rem;
  margin-bottom: 7.68vh;
  color: #f8f8f8;
  font-style: italic;
  font-weight: 900;
  line-height: 82.19%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  max-width: 720px;
}

.s-main__slider-btn {
    background-color: transparent;
    display: block;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    transition: all .15s ease;
    margin: 0 auto;
  }

.s-main__slider .slick-list::before {
    content: "";
    position: absolute;
    display: block;
    z-index: 10;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #FFFFFF 76.86%);
  }

  .s-main__slider .slick-list::after {
    content: "";
    position: absolute;
    display: block;
    z-index: 10;
    bottom: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFFFFF 76.86%);
  }

@media screen and (max-width: 1560px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 12px;
  }

  .right-line .hamburger {
    padding: 40px;
  }

  .right-line {
    height: auto;
    background-image: url(../img/bg/hamburger.png);
  }

  .s-main__socials-list {
    right: 140px;
  }

  .s-main__col--left {
    width: 80%;
  }

  .s-main__col--right {
    width: 20%;
  }

  .s-main {
    padding-top: 110px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 992px) {
  .s-main {
    background-image: none !important;
    background-color: #1F1F20;
  }

  /* .s-main__slider .slick-list::before, .s-main__slider .slick-list::after {
    display: none;
  }

  .s-main__slider-item {
    float: left;
    transform: none;
    margin: 0;
    max-width: auto;
  } */

  .s-main__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .s-main__slider-btn--left {
    left: 0;
  }

  .s-main__slider-btn--right {
    right: 0;
  }

  .s-main__container {
    flex-wrap: wrap;
  }

  .s-main__col--left {
    width: 100%;
  }

  .s-main__col--right {
    width: 100%;
  }

  .right-line {
    background-image: none;
  }

  .s-main {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .s-main__btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .s-main__slider-item {
    margin: 0 20px;
  }

  .s-main__slider .slick-list {
    margin: 0 -20px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .s-main__slider .slick-list::before {
    content: "";
    top: 0;
    z-index: 1;
    left: 0px;
    width: 300px;
    height: 100%;
    background: linear-gradient(to left, rgba(31, 31, 31, 0) 0%, #1F1F20 76.86%);
  }

  .s-main__slider .slick-list::after {
    content: "";
    top: 0;
    left: auto;
    right: -1px;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(31, 31, 31, 0) 0%, #1F1F20 76.86%);
  }
}

@media screen and (min-width: 992px) {
  .s-main__slider-item.slick-slide  {
    border: 3px solid #1F1F20;
  }

  .s-main__slider-item.slick-current {
    transform: scale(1);
    border-style: dashed;
  }

  .s-main__slider-img {
    margin: auto;
    display: block;
  }

  .s-main__slider {
    position: relative;
    z-index: 10;
  }

  .s-main__slider-item {
    max-width: 380px;
    width: 100% !important;
    margin: 0 auto;
    float: none;
    transform: scale(0.8);
    transition: transform .15s ease;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .s-main__slider .slick-list::before {
    display: none;
  }

  .s-main__slider .slick-list::after {
    display: none;
  }

  .s-main__h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  .s-main__list {
    text-align: center;
    display: block;
    max-width: none;
  }

  .s-main__item .link::after {
    display: none;
  }

  .s-main__btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .vex {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .s-main__socials-list {
    left: 20px;
    right: auto;
  }

  .s-main__slider-item {
    margin: 0 10px;
  }

  .s-main__slider .slick-list {
    margin: 0 -10px;
  }
}